<a href="https://colab.research.google.com/github/dhlee3146/dhlee3146/blob/main/%ED%95%9C%EA%B5%AD%EC%96%B4_%EC%84%A4%EB%AA%85_%EC%9D%B8%ED%92%8B%2C_%EC%95%84%EC%9B%83%ED%92%8B%2C_%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#인풋 아웃풋 만들기

answer = input("여기에 질문") #이런 형식으로 만들면 대답란이 생김

print("*"*30) #This is just a line,
print("\n\n",f"내 대답은 {answer}.") #"\n\n"는 그냥 한 칸 띄우는 것, f"정해진부분 {대답한 것이 뜨는 부분}."

여기에 질문앤써
******************************


 내 대답은 앤써.

In [6]:
#리스트를 만들자.
리스트이름 = ["1번항목", "2번항목", "3번 항목"]

In [12]:
print(리스트이름[0])
print(리스트이름[1])
print(리스트이름[2])

print(리스트이름[1:3])

1번항목
2번항목
3번 항목
['2번항목', '3번 항목']

In [20]:
for 세로정렬 in 리스트이름:
    print(세로정렬)

1번항목
2번항목
3번 항목

In [21]:
#영어 순서대로 정렬
Name = ["Bin", "Cinamon", "Anne"]
print(Name)

sorted_name = sorted(Name)
print(sorted_name)

['Bin', 'Cinamon', 'Anne']
['Anne', 'Bin', 'Cinamon']

In [19]:
#숫자를 이용한 함수를 만들자.
def add_numbers(num1, num2):
    result = num1 + num2
    return result

print(add_numbers(1, 7))

8