<a href="https://colab.research.google.com/github/dhlee3146/dhlee3146/blob/main/%ED%95%9C%EA%B5%AD%EC%96%B4_%EC%84%A4%EB%AA%85_%EC%9D%B8%ED%92%8B%2C_%EC%95%84%EC%9B%83%ED%92%8B%2C_%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

원본 페이지
[This_page](https://colab.research.google.com/github/MK316/Spring2024/blob/main/DLEE/DLW04.ipynb#scrollTo=LyTw7phONZHE)

##INPUT, OUTPUT
인풋과 아웃풋을 만들자!

In [ ]:
#인풋 아웃풋 만들기

answer = input("여기에 질문") #이런 형식으로 만들면 대답란이 생김

print("*"*30) #This is just a line,
print("\n\n",f"내 대답은 {answer}.") #"\n\n"는 그냥 한 칸 띄우는 것, f"정해진부분 {대답한 것이 뜨는 부분}."

여기에 질문앤써
******************************


 내 대답은 앤써.

##LIST
---------------------
1. 리스트를 만들자
2. 순서별로만들자
3. 첫 번째, 마지막 요소를 프린트하는 법
4. 리스트에 바로 추가하는 법
5. 리스트에서 지우는 법
6. 리스트를 자르는 법
7. 리스트 안에 아이템 있는지 확인하는 법

In [17]:
#리스트를 만들자.
리스트이름 = ["1번항목", "2번항목", "3번 항목"]

In [18]:
print(리스트이름[0])
print(리스트이름[1])
print(리스트이름[2])

print(리스트이름[1:3])

1번항목
2번항목
3번 항목
['2번항목', '3번 항목']

In [19]:
#세로정렬(lterating trough a list)
for 세로정렬 in 리스트이름:
    print(세로정렬)
    #for i in range(0,10): ; print(i) 이거는 숫자 0부터 9까지 나열함

1번항목
2번항목
3번 항목

In [8]:
#영어 순서대로 정렬(sorting a list)
Name = ["Bin", "Cinamon", "Anne"]
print(Name)

sorted_name = sorted(Name)
print(sorted_name)

['Bin', 'Cinamon', 'Anne']
['Anne', 'Bin', 'Cinamon']

In [9]:
# 첫 번째 요소를 프린트 하자
첫_이름 = Name[0]  # 'Bin'
print(첫_이름)

# 마지막 요소를 프린트 하자
마지막_이름 = Name[-1]  # 'Anne'
print(마지막_이름)
print(Name)

Bin
Anne
['Bin', 'Cinamon', 'Anne']

In [10]:
# 리스트 끝에 요소를 추가하자
print(Name)
Name.append("Cina")
print(Name)

# 리스트 중간 특정 위치에 요소를 추가하자
Name.insert(1, "Nadi")  # Nadi를 리스트 1번 위치에 삽입
print(Name)

['Bin', 'Cinamon', 'Anne']
['Bin', 'Cinamon', 'Anne', 'Cina']
['Bin', 'Nadi', 'Cinamon', 'Anne', 'Cina']

In [13]:
# value를 이용해 하나의 요소를 지워보자
# 몇 가지 요소를 이용해 리스트를 만들어보자
Name = ["Bin", "Cinamon", "Anne"]

Name.remove("Cinamon")
print(Name)
# index를 이용해 하나의 요소를 지워보자
del Name[1]  # Removes the first element

print(Name)

['Bin', 'Anne']
['Bin']

In [20]:
# 파이썬에서 index는 0부터 시작함을 명심하자
Name = ["Bin", "Cinamon", "Anne", "Cina", "Nadi"]

# 2번째부터 4번째까지 있는 것들을 잘라내자
a1 = Name[1:4]; print("Name: ", a1) #2번(1위치)부터 4번(3위치)가 나옴. 4위치에 해당하는 것(5번) 안 나옴

# Slicing from the start to the 3rd position
# 시작부터 세번 째 위치의 것까지 자르자
a2 = Name[:3]; print("a2: ", a2) #이러면 4번째꺼 앞까지 나오는 거란 것을 명심하자

# Slicing from 3rd position to the end
# 3번째부터 끝까지 자르자 #이거는 2위치 포함 나옴을 명심(3번째꺼란 뜻)
a3 = Name[2:]; print("a3: ", a3)

Name:  ['Cinamon', 'Anne', 'Cina']
a2:  ['Bin', 'Cinamon', 'Anne']
a3:  ['Anne', 'Cina', 'Nadi']

In [23]:
# 해당 아이템이 리스트 안에 있는지 확인하자
if "Cina" in Name:
    print("Cina is in the list")

Cina is in the list

In [24]:
request = input("Which one do you want to check? ")

if request in Name:
  print(f"The word '{request}' is in the list.")
else:
  print(f"The word '{request}' is not in the list")

Which one do you want to check? Nadi
The word 'Nadi' is in the list.

In [25]:
#list and index
a = [1, "Mary", 4, "John"]

a1 = a[0] + a[2]
a3 = a[1] + a[3]
print(a1, a3) #string이랑 숫자 같이 쓰면 에러남

5 MaryJohn

##함수!!

In [ ]:
#숫자를 이용한 함수를 만들자.
def add_numbers(num1, num2):
    result = num1 + num2
    return result

print(add_numbers(1, 7))

8

##Dictionary

In [28]:
# 빈 딕셔너리
empty_dict = {}

# 데이터가 있는 딕셔너리 Dictionary with some data
person = {"name": "John", "age": 30, "city": "New York"}

In [29]:
# key를 이용해 value에 접근해보자
name = person["name"]  # "John"
print(name)

# Using get() method which returns None if key not found
#key가 발견되지 않으면 None을 값으로 출력하는 것을 ()를 이용해 만들어보자
occupation = person.get("occupation")  # None
print(occupation)

John
None

In [33]:
# 새 key-value 페어를 만들어보자
person["occupation"] = "Engineer"

# 존재하는 key-value 페어를 수정해보자
person["age"] = 31

person

{'name': 'John', 'age': 31, 'city': 'New York', 'occupation': 'Engineer'}

In [34]:
# key-value pair를 삭제해보자
person = {"name": "John", "age": 30, "city": "New York"}

del person["city"]

# Removing a key-value pair using pop()
age = person.pop("age")  # pop을 이용해 삭제를 해도 변수와 값은 따로 저장되어 있음

print(person)
print(age)

{'name': 'John'}
30

In [36]:
person = {"name": "John", "age": 30, "city": "New York"}

# Iterating over keys
for key in person:
    print(key)

# Iterating over values
for value in person.values():
    print(value)

# Iterating over key-value pairs
for key, value in person.items():
    print(key, value)

name
age
city
John
30
New York
name John
age 30
city New York